title{
    color: chocolate;
}

body{
    background-color: antiquewhite;
}



p{color: rgb(4, 11, 19);
}

#encabezado{
    background-color: #5d5e5c;
    height: 50%;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/*#encabezado h1{
    color: black;
}*/

#encabezado .encabezado1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}

#encabezado .encabezado2{
    color: aqua;
}

#encabezado .encabezado3{
    color: antiquewhite;
}

.logo{
    width: 20%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu{
     width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.redes{
     width: 20%;
    height: 20%;
    background-color: rgb(0, 114, 213);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
}

.logo-img{
    width: 100%;
    height: 50%;


}

.menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: cornflowerblue;
    display: flex;
    gap: 15px;
    
}
.menu ul li{
    float: left;
}
.menu ul li a{
    display: block;
    color: rgb(254, 255, 255);
    text-align: center;
    padding: 14px 20px;
    text-decoration:none ;
}

.menu ul li a:hover{
    color: azure;
    background-color: rgb(127, 240, 255);
}

.redes img{
    width: 20%;
    height: 20%;
    padding: 5px;
    justify-content: center;
}

.cont{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 30px;
  
}

.imdi{
    background-color: rgb(0, 179, 255);
    border: 1px solid #ccc;
    padding: 80px 80px 80px 80px;
    width: 280px;
    height: 300px;
    box-shadow: 0 4px 10px rgba(0,0,0,0,1);
    text-align: center;
}

.img-imdi{
    width: 100%;
    height: 150px;
    object-fit: cover;
    
    
}

.imd{
    background-color: rgb(0, 187, 255);
    border: 1px solid #ccc;
    padding: 80px 80px 80px 80px;
    width: 280px;
    height: 300px;
    box-shadow: 0 4px 8x rgba(0,0,0,0,1);
    text-align: center;
}

.img-imd{
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.idm{
    background-color: rgb(0, 221, 255);
    border: 1px solid #ccc;
    padding: 80px 80px 80px 80px;
    width: 280px;
    height: 300px;
    box-shadow: 0 4px 8px rgba(0,0,0,0,1);
    text-align: center;
    
}

.img-idm{
width: 100%;
height: 150px;
object-fit: cover;
}

.immd{
    background-color: rgb(0, 183, 255);
    border: 1px solid #ccc;
    padding: 80px 80px 80px 80px;
    width: 280px;
    height: 300px;
    box-shadow: 0 4px 8px rgba(0,0,0,0,1);
    text-align: center;

}

.img-immd{
    width: 100%;
    height: 150px;
    object-fit: cover;
}
